* {
    margin: 0;
}
html,body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #0c0c0c;
}

#container {
    max-width: 90%;
    margin: auto;
    height: 100vh;
   
    color: #fff;
    padding: 40px 20px;
}

#container #header h1 {
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    color: #add;
}

#container #header p {
    padding: 10px 0px;
    font-size: 30px;
    border-bottom: 1px solid #fff;
}

#container #body {
   font-family: sans-serif;
   padding: 40px 0px;
}

#body h2 {
    padding-bottom: 15px;
    color: #add;
}

#body ul {
    padding-bottom: 10px;
}

#body ul li, ol li {
    line-height: 30px;
}

#body a {
    color: blue ;
}

#body #mood-images li {
    display: inline-block;
    padding-right: 20px;
}